.login-page, .signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: url('img/bg7.jpg'); */
    background-size: cover;       
    background-position: center;
}

.login_panel{
    width: 35%;
    background: white;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #787878;
    border-radius: 10px;
    padding: 30px 40px;
}

.login_panel h1{
    font-size: 36px;
    text-align: center;
}

.login_panel .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 90%;
    height: 30%;
    background: #f4f4f4;
    border: none;
    outline: none;
    border: 2px solid rgba(225, 225, 225, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
}

.input-box input::placeholder {
    color: #787878;
}

.svg_icon {
    position: absolute;
    right: 12%;
    padding-top: 4px;
    transform: translateY(60%);
    font-size: 20px;
}

.login_panel .remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forget label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forget a {
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.login_panel .btn{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}

.login_panel .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: rgb(0, 119, 255);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

@media(max-width:800px) {
    .login_panel {
        width: 40%;
    }
}

@media(max-width:700px) {
    .login_panel {
        width: 45%;
    }
}

@media(max-width:600px) {
    .login_panel {
        width: 55%;
    }
}

@media(max-width:500px) {
    .login_panel {
        width: 65%;
    }
}